<launch>
	<arg name="control_topic" default="/car/mux/ackermann_cmd_mux/input/navigation" />
	<arg name="init_pose_topic" default="/initialpose" />
	<arg name="plan_file" default="max_steer.txt"/>
	<arg name="record_ctrl" default="true" />
	<arg name="record_camera" default="true" />
	
	<node pkg="perception" type="real_time_perc" name="real_time_perc" output="screen">
	</node>		

	<node pkg="rosbag" type="record" name="rosbag_record_standard_data" output="screen" args="-o $(find perception)/bags/ /car/vesc/odom" />
	<!-- <node pkg="rosbag" type="record" name="rosbag_record_raspi_img" output="screen" args="-o /home/pracsys/raspi_ros_perception/out/image_bags/raspi /camera_publisher/pracsysPi1/rgb_image" /> -->
</launch>
